@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&family=Roboto:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }

  .mainTitle {
    background-color: rgb(173, 97, 243);
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  h1 {
      padding: 15% 0 15% 0;
      color: #fff;
      font-size: 3em;
      font-weight: bold;
      text-align: center;
  }

  .aboutMe {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin: 40px auto;
  }

  .aboutMe img {
    width: 25%;
    height: 25%;
  }

  .aboutContent {
      margin-left: 2em;
  }

  .aboutContent h2 {
      font-weight: 900;
      font-size: 30px;
  }

  .aboutContent p {
      font-weight: 300;
      font-size: 18px;
  }

  .contentTitle{
    margin: 3rem 0;
    color: rgb(173, 97, 243);
    font-size: 2rem;
    text-align: center;
  }

  .allContent{
      margin: 3em;
      display: block;
  }

  .allContent h3{
      text-align: center;
  }
  .allContent img{
      padding-top: 2em;
      padding-bottom: 2em;
      margin-left: 28em;
      align-items: center;
      width: 30%;
      height: 25%;
  }
  .allContent p{
      margin-left: 20em;
      text-align: center;
      width: 50%;
  }
  

  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
    height: 100px;
    width: 100%;
    background-color: rgb(173, 97, 243);
    color: #fff;
  }

  @media (max-width: 800px) {
    h1 {
        font-size: 1em;
    }
  
    .aboutContent h2 {
        font-weight: 900;
        font-size: 15px;
    }
  
    .aboutContent p {
        font-weight: 300;
        font-size: 11px;
    }

    .contentTitle{
        font-size: 1rem;
        text-align: center;
      }
  
  }