@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&family=Roboto:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }

  .mainTitle {
    background-color: rgb(173, 97, 243);
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  h1 {
      padding: 15% 0 15% 0;
      color: #fff;
      font-size: 3em;
      font-weight: bold;
      text-align: center;
  }

  .aboutMe {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin: 40px auto;
  }

  .aboutMe img {
    width: 25%;
    height: 25%;
  }

  .aboutContent {
      margin-left: 2em;
  }

  .aboutContent h2 {
      font-weight: 900;
      font-size: 30px;
  }

  .aboutContent p {
      font-weight: 300;
      font-size: 18px;
  }